<div class="item" [class.selected]="isSelected">
  @let status = email.status | emailStatusFormat;
  <p [class]="status.cssClass">{{ status.label }}</p>
  <hugeicons-icon [icon]="Mail01Icon"></hugeicons-icon>
  <div class="item-content">
    <h3>{{ email.subject || '(nessun oggetto)' }}</h3>
    <div class="item-sec">
      <p>Da:</p>
      <p>{{ email.sender }}</p>
    </div>
    <div class="item-sec">
      <p>Messaggio:</p>
      <p>{{ email.body }}</p>
    </div>
    @if (email.categories && email.categories.length > 0) {
      <div class="chip-list">
        @for (category of email.categories; track category.id) {
          <span class="chip-badge">{{ category.name }}</span>
        }
      </div>
    }
  </div>
</div>
