.btn {
  min-height: 32px;
  min-width: 32px;

  border-radius: 8px;
  font-family: inherit;
  font-size: var(--font-size-base);
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 16px;
  transition: opacity 0.2s ease;
  border: none;
  background: transparent;
  text-decoration: none;
  color: var(--color-text-strong);
}

.btn:disabled {
  opacity: var(--alpha-disabled);
  cursor: not-allowed;
}

/* Pulsante Primario */
.btn-primary {
  background-color: var(--color-brand);
  color: #FFFFFF;
}

.btn-primary:hover:not(:disabled) {
  opacity: var(--alpha-hover);
}

/* Pulsante Secondario (Outline) */
.btn-secondary {
  border: 2px solid var(--color-brand);
  color: var(--color-brand);
}

.btn-secondary:hover:not(:disabled) {
  opacity: var(--alpha-hover);
}

/* Pulsante Terziario */
.btn-tertiary {
  color: var(--color-text-strong);
  text-decoration: underline;
}

.btn-tertiary:hover:not(:disabled) {
  opacity: var(--alpha-hover);
}


@media (max-width: 768px) {
  .btn {
    width: 100%;
    margin-bottom: 16px;
  }
}