<section class="wrapper" [class.dark]="settingsService.darkMode()">
  <header>
    <img src="logo.png" alt="Logo Università della Calabria">
    <h1>Sistema gestione Email</h1>
  </header>

  <nav>
    <a routerLink="classifications" routerLinkActive="active">
      <hugeicons-icon [icon]="LabelIcon" class="nav-icon"></hugeicons-icon>
      Classificazioni
    </a>
    <a routerLink="answers" routerLinkActive="active">
      <hugeicons-icon [icon]="Mail01Icon" class="nav-icon"></hugeicons-icon>
      Risposte
    </a>
    <a routerLink="templates" routerLinkActive="active">
      <hugeicons-icon [icon]="NoteIcon" class="nav-icon"></hugeicons-icon>
      Template
    </a>
    <a routerLink="documents" routerLinkActive="active">
      <hugeicons-icon [icon]="File02Icon" class="nav-icon"></hugeicons-icon>
      Documenti
    </a>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <!-- TODO vedere se serve inserire qualche informazione -->
  </footer>

</section>
